{% import 'admin/layout.html' as layout with context -%}
{% import 'admin/static.html' as admin_static with context %}
<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>{% block title %}{% if admin_view.category %}{{ admin_view.category }} - {% endif %}{{ admin_view.name }} - {{ admin_view.admin.name }}{% endblock %}</title>

    {% block head_css %}
        <link href="{{ admin_static.url(filename='bootstrap/bootstrap3/swatch/{swatch}/bootstrap.min.css'.format(swatch=config.get('FLASK_ADMIN_SWATCH', 'default')), v='3.3.5') }}" rel="stylesheet">
        {%if config.get('FLASK_ADMIN_SWATCH', 'default') == 'default' %}
            <link href="{{ admin_static.url(filename='bootstrap/bootstrap3/css/bootstrap-theme.min.css', v='3.3.5') }}" rel="stylesheet">
        {%endif%}
            <link href="{{ admin_static.url(filename='admin/css/bootstrap3/admin.css', v='1.1.1') }}" rel="stylesheet">
        {% if admin_view.extra_css %}
            {% for css_url in admin_view.extra_css %}
                <link href="{{ css_url }}" rel="stylesheet">
            {% endfor %}
        {% endif %}
        <style>
            body {
                padding-top: 4px;
            }
        </style>
    {% endblock %}
    <!--=============== basic  ===============-->
    <meta charset="UTF-8">
    <title>Citybook -Directory Listing Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="robots" content="index, follow"/>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <!--=============== css  ===============-->
    <link type="text/css" rel="stylesheet" href="/static/css/reset.css">
    <link type="text/css" rel="stylesheet" href="/static/css/plugins.css">
    <link type="text/css" rel="stylesheet" href="/static/css/style.css">
    <link type="text/css" rel="stylesheet" href="/static/css/color.css">
    <!--=============== favicons ===============-->
    <link rel="shortcut icon" href="/static/images/favicon.ico">
</head>
<body>

<!-- loader -->
<div class="loader-wrap">
    <div class="pin"></div>
    <div class="pulse"></div>
</div>
<!--  loader end -->
<!-- Main   -->
<div id="main">
    <!-- header  -->
    <header class="main-header dark-header fs-header sticky">
        <div class="header-inner">
            <div class="logo-holder">
                <a href="index.html"><img src="/static/images/logo.png" alt=""></a>
            </div>
            <div class="header-search vis-header-search">
                <div class="header-search-input-item">
                    <input type="text" placeholder="Keywords" value=""/>
                </div>
                <div class="header-search-select-item">

                </div>
                <button class="header-search-button" onclick="window.location.href='listing.html'">Search</button>
            </div>
            <div class="show-search-button"><i class="fa fa-search"></i> <span>Search</span></div>
            <a href="/static/dashboard-add-listing.html" class="add-list">Add Listing <span><i class="fa fa-plus"></i></span></a>
            <div class="header-user-menu">
                <div class="header-user-name">
                    <span><img src="/static/images/avatar/1.jpg" alt=""></span>
                    Hello , Alisa
                </div>

            </div>
            <!-- nav-button-wrap-->
            <div class="nav-button-wrap color-bg">
                <div class="nav-button">
                    <span></span><span></span><span></span>
                </div>
            </div>
            <!-- nav-button-wrap end-->
            <!--  navigation -->
            <header class="main-header dark-header fs-header sticky">
                <div class="header-inner">
                    <!--Logo -->
                    <div class="logo-holder">
                        <a href="{{ url_for('main') }}"><img src="/static/images/logo.png" alt=""></a>
                    </div>

                    <!--Search -->
                    <div class="header-search vis-header-search">
                        <!-- Keyword Input -->
                        <div class="header-search-input-item">
                            <input type="text" placeholder="검색..." value=""/>
                        </div>

                        <!-- Categorie Select -->
                        <div class="header-search-select-item">
                            <select data-placeholder="All Categories" class="chosen-select" >
                                {% for category in categories %}
                                    <option> {{ category }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <!-- When browser widht is long, Search Button -->
                        <button class="header-search-button" onclick="window.location.href='listing'">Search</button>
                    </div>
                    <!-- When browser widht is short, Search Button -->
                    <div class="show-search-button"><i class="fa fa-search"></i> <span>Search2</span></div>

                    {% if current_user.is_authenticated -%}
                        <!-- user info -->
                        <div class="header-user-menu">
                            <div class="header-user-name">
                                <span><img src="/static/images/avatar/1.jpg" alt=""></span>
                                Hello , {{ current_user.name }}
                            </div>
                            <ul>
                                <li><a href="{{ url_for('dashboard')}}"> My Page</a></li>
                                <li><a href="{{ url_for('myprofile')}}"> 프로필 수정</a></li>
                                <li><a href="{{ url_for('logout')}}">Log Out</a></li>
                            </ul>
                        </div>
                    {% else  -%}
                        <!-- Sign-In button -->
                        <div class="show-reg-form modal-open"><i class="fa fa-sign-in"></i>Log in </div>
                    {% endif -%}
                    <!--&lt;!&ndash; nav-button-wrap&ndash;&gt;-->
                    <!--<div class="nav-button-wrap color-bg">-->
                    <!--<div class="nav-button">-->
                    <!--<span></span><span></span><span></span>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--&lt;!&ndash; nav-button-wrap end&ndash;&gt;-->

                    <!--  navigation -->
                    <div class="nav-holder main-menu">
                        <nav>
                            <ul>
                                <li>
                                    <a href={{ url_for('home') }}>Home</a>
                                </li>
                                <li>
                                    <a href="{{ url_for('listing') }}">Listing</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!-- navigation  end -->
                </div>
            </header>
            <!-- navigation  end -->
        </div>
    </header>
    <!--  header end -->
    <!-- wrapper -->
    <div id="wrapper">
        <!--content -->
        <div class="content">
            <!--section -->
            <section id="sec1">
                <!-- container -->
                <div class="container">
                    <!-- profile-edit-wrap -->
                    <div class="profile-edit-wrap">
                        <div class="profile-edit-page-header">
                            <h2>Admin Panel</h2>
                            <div class="breadcrumbs"><a href="#">Home</a><span>Dasboard</span></div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="fixed-bar fl-wrap">
                                    <div class="user-profile-menu-wrap fl-wrap">
                                        <!-- user-profile-menu-->
                                        <div class="user-profile-menu">
                                            <h3>Main</h3>


                                                <!-- Brand and toggle get grouped for better mobile display -->
                                                <div class="navbar-header">
                                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#admin-navbar-collapse">
                                                        <span class="sr-only">Toggle navigation</span>
                                                        <span class="icon-bar"></span>
                                                        <span class="icon-bar"></span>
                                                        <span class="icon-bar"></span>
                                                    </button>
                                                    {% block brand %}
                                                        <a class="navbar-brand" href="{{ admin_view.admin.url }}">{{ admin_view.admin.name }}</a>
                                                    {% endblock %}
                                                </div>
                                                <!-- navbar content -->
                                                <div class="collapse navbar-collapse" id="admin-navbar-collapse">
                                                    {% block main_menu %}
                                                        <ul class="nav navbar-nav">
                                                            {{ layout.menu() }}
                                                        </ul>
                                                    {% endblock %}

                                                    {% block menu_links %}
                                                        <ul class="nav navbar-nav navbar-right">
                                                            {{ layout.menu_links() }}
                                                        </ul>
                                                    {% endblock %}
                                                    {% block access_control %}
                                                    {% endblock %}
                                                </div>


                                        </div>
                                        <!-- user-profile-menu end-->
                                        <!-- user-profile-menu-->
                                        <div class="user-profile-menu">
                                            <h3>Visualization</h3>
                                            <ul>
                                                <li><a href="dashboard-listing-table.html"> User  </a></li>
                                                <li><a href="dashboard-bookings.html">  Public Bike </a></li>
                                                <li><a href="dashboard-review.html"> Place </a></li>
                                            </ul>
                                        </div>
                                        <!-- user-profile-menu end-->
                                        <a href="#" class="log-out-btn">Log Out</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <!-- DataBase -->
                                <div class = "row">
                                    {% block messages %}
                                        {{ layout.messages() }}
                                    {% endblock %}

                                    {# store the jinja2 context for form_rules rendering logic #}
                                    {% set render_ctx = h.resolve_ctx() %}

                                    {% block body %}{% endblock %}
                                </div>
                                <!-- DataBase end-->



                            </div>
                        </div>
                    </div>
                    <!--profile-edit-wrap end -->
                </div>
                <!--container end -->
            </section>
            <!-- section end -->
            <div class="limit-box fl-wrap"></div>
            <!--section -->
            <section class="gradient-bg">
                <div class="cirle-bg">
                    <div class="bg" data-bg="images/bg/circle.png"></div>
                </div>
                <div class="container">
                    <div class="join-wrap fl-wrap">
                        <div class="row">
                            <div class="col-md-8">
                                <h3>Do You Have Questions ?</h3>
                                <p>Lorem ipsum dolor sit amet, harum dolor nec in, usu molestiae at no.</p>
                            </div>

                        </div>
                    </div>
                </div>
            </section>
            <!-- section end -->
        </div>
    </div>
    <!-- wrapper end -->
    <!--footer -->
    <footer class="main-footer dark-footer  ">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="footer-widget fl-wrap">
                        <h3>About Us</h3>
                        <div class="footer-contacts-widget fl-wrap">
                            <p>In ut odio libero, at vulputate urna. Nulla tristique mi a massa convallis cursus. Nulla eu mi magna. Etiam suscipit commodo gravida. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam. </p>
                            <ul  class="footer-contacts fl-wrap">
                                <li><span><i class="fa fa-envelope-o"></i> Mail :</span><a href="#" target="_blank">yourmail@domain.com</a></li>
                                <li> <span><i class="fa fa-map-marker"></i> Adress :</span><a href="#" target="_blank">USA 27TH Brooklyn NY</a></li>
                                <li><span><i class="fa fa-phone"></i> Phone :</span><a href="#">+7(111)123456789</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="footer-widget fl-wrap">
                        <h3>Our Last News</h3>
                        <div class="widget-posts fl-wrap">
                            <ul>
                                <li class="clearfix">
                                    <a href="#"  class="widget-posts-img"><img src="/static/images/all/1.jpg" class="respimg" alt=""></a>
                                    <div class="widget-posts-descr">
                                        <a href="#" title="">Vivamus dapibus rutrum</a>
                                        <span class="widget-posts-date"> 21 Mar 09.05 </span>
                                    </div>
                                </li>
                                <li class="clearfix">
                                    <a href="#"  class="widget-posts-img"><img src="/static/images/all/1.jpg" class="respimg" alt=""></a>
                                    <div class="widget-posts-descr">
                                        <a href="#" title=""> In hac habitasse platea</a>
                                        <span class="widget-posts-date"> 7 Mar 18.21 </span>
                                    </div>
                                </li>
                                <li class="clearfix">
                                    <a href="#"  class="widget-posts-img"><img src="/static/images/all/1.jpg" class="respimg" alt=""></a>
                                    <div class="widget-posts-descr">
                                        <a href="#" title="">Tortor tempor in porta</a>
                                        <span class="widget-posts-date"> 7 Mar 16.42 </span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="footer-widget fl-wrap">
                        <h3>Our  Twitter</h3>
                        <div id="footer-twiit"></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="footer-widget fl-wrap">
                        <h3>Subscribe</h3>
                        <div class="subscribe-widget fl-wrap">
                            <p>Want to be notified when we launch a new template or an udpate. Just sign up and we'll send you a notification by email.</p>
                            <div class="subcribe-form">
                                <form id="subscribe">
                                    <input class="enteremail" name="email" id="subscribe-email" placeholder="Email" spellcheck="false" type="text">
                                    <button type="submit" id="subscribe-button" class="subscribe-button"><i class="fa fa-rss"></i> Subscribe</button>
                                    <label for="subscribe-email" class="subscribe-message"></label>
                                </form>
                            </div>
                        </div>
                        <div class="footer-widget fl-wrap">
                            <div class="footer-menu fl-wrap">
                                <ul>
                                    <li><a href="#">Home </a></li>
                                    <li><a href="#">Blog</a></li>
                                    <li><a href="#">Listing</a></li>
                                    <li><a href="#">Contacts</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sub-footer fl-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="about-widget">
                            <img src="/static/images/logo.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="copyright"> &#169; Citybook  2018 .  All rights reserved.</div>
                    </div>
                    <div class="col-md-4">
                        <div class="footer-social">
                            <ul>
                                <li><a href="#" target="_blank" ><i class="fa fa-facebook-official"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" target="_blank" ><i class="fa fa-chrome"></i></a></li>
                                <li><a href="#" target="_blank" ><i class="fa fa-vk"></i></a></li>
                                <li><a href="#" target="_blank" ><i class="fa fa-whatsapp"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--footer end  -->
    <a class="to-top"><i class="fa fa-angle-up"></i></a>
</div>
<!-- Main end -->
<!--=============== scripts  ===============-->
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/plugins.js"></script>
<script type="text/javascript" src="/static/js/scripts.js"></script>
</body>
</html>