<!DOCTYPE html>
<html{% block html_attribs %}{% endblock html_attribs %}>

  <head>

        <!--=============== basic  ===============-->
        <meta charset="UTF-8">
        <title>{% block title %}{{title|default}}{% endblock title %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="robots" content="index, follow"/>
        <meta name="keywords" content=""/>
        <meta name="description" content=""/>
        <!--=============== css  ===============-->
        <link type="text/css" rel="stylesheet" href="/static/css/reset.css">
        <link type="text/css" rel="stylesheet" href="/static/css/plugins.css">
        <link type="text/css" rel="stylesheet" href="/static/css/style.css">
        <link type="text/css" rel="stylesheet" href="/static/css/color.css">
        <!--=============== favicons ===============-->
        <link rel="shortcut icon" href="/static/images/favicon.ico">





        {%- block styles %}

        {%- endblock styles %}

  </head>

  <body{% block body_attribs %}{% endblock body_attribs %}>
    <!-- loader -->
    <div class="loader-wrap">
        <div class="pin"></div>
        <div class="pulse"></div>
    </div>

    <!-- Main  -->
    <div id="main">

        <!-- Header  -->
        {% include 'navbar.html' %}

        <!--error message-->
        {% block error_alerts -%}
        {%- endblock error_alerts %}

        <!--content container-->
        {% block content -%}
        {%- endblock content %}




    </div>
    <!-- Main end -->

    <!--=============== scripts  ===============-->

    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/plugins.js"></script>
    <script type="text/javascript" src="/static/js/scripts.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAVT_EAOogMhCvMOofSMXGztYcOQtViopU&libraries=places&callback=initAutocomplete"></script>

    <!--========== additonal scripts  ==========-->
    {% block scripts %}
    {%- endblock scripts %}
  </body>
</html>