<div class="col-md-3">
        <div class="fixed-bar fl-wrap">
            <div class="user-profile-menu-wrap fl-wrap">
                <!-- user-profile-menu-->
                <div class="user-profile-menu">
                    <h3>Setting</h3>
                    <ul>
                        <li><a href="{{ url_for('dashboard') }}"><i class="fa fa-gears"></i>My Page</a></li>
                        <li><a href="{{ url_for('myprofile') }}"><i class="fa fa-user-o"></i> 프로필 수정</a></li>
                        <li><a href="{{ url_for('changepw') }}"><i class="fa fa-unlock-alt"></i>비밀번호 변경</a></li>
                    </ul>
                </div>
                <!-- user-profile-menu end-->
                <a href="{{ url_for('logout') }}" class="log-out-btn">Log Out</a>
            </div>
        </div>
    </div>