<div class="col-md-3">
        <div class="fixed-bar fl-wrap">
            <div class="user-profile-menu-wrap fl-wrap">
                <!-- user-profile-menu-->
                <div class="user-profile-menu">
                    <h3>Main</h3>
                    <ul>
                        <li><a href="{{ url_for('dashboard') }}"><i class="fa fa-gears"></i>Dashboard</a></li>
                        <li><a href="{{ url_for('myprofile') }}"><i class="fa fa-user-o"></i> Edit profile</a></li>
                        <li><a href="{{ url_for('changepw') }}"><i class="fa fa-unlock-alt"></i>Change Password</a></li>
                    </ul>
                </div>
                <!-- user-profile-menu end-->
                <a href="{{ url_for('logout') }}" class="log-out-btn">Log Out</a>
            </div>
        </div>
    </div>
